<main>
  <section [ngStyle]="{ border: diapositive === 4 ? '3px solid white' : '' }">
    <div class="diapo diapo-0" *ngIf="diapositive === 0">
      <div class="text">
        <h1>Codelatam</h1>
        <h3>{{ text.forgeTitle }}</h3>
      </div>

      <button mat-stroked-button (click)="nextDiapositive()">{{ text.challenge }}</button>
    </div>

    <div class="diapo diapo-1" *ngIf="diapositive === 1">
      <div class="text">
        <div class="text__description">
          <h1>{{ text.forgeTitle}}</h1>
          <div>
            <h2>{{ cardOnDiapositive1?.name }}</h2>
            <p>{{ cardOnDiapositive1?.departaments }}</p>
          </div>
        </div>
        <div class="cards-container">
          <div
            class="cards"
            matRipple
            *ngFor="let card of cardsDiapositive1; let i = index"
            (click)="setCardOnHover(card)"
            [ngClass]="{ active: card === cardOnDiapositive1 }"
          >
            <h3>{{ card.name }}</h3>
            <p>{{ card.departaments }}</p>
          </div>
        </div>
      </div>
      <div class="map">
        <div class="map__container">
          <ng-container *ngIf="cardOnDiapositive1">
            <img
              class="skelet"
              [src]="cardOnDiapositive1.images?.[0]"
              *ngIf="cardOnDiapositive1.images?.[0]"
              alt=""
            />
            <img
              class="over"
              [src]="cardOnDiapositive1.images?.[1]"
              *ngIf="cardOnDiapositive1.images?.[1]"
              alt=""
            />
          </ng-container>
          <ng-container *ngIf="!cardOnDiapositive1">
            <img class="skelet" [src]="defaultImages[0]" alt="" />
            <img class="over" [src]="defaultImages[1]" alt="" />
          </ng-container>
        </div>
      </div>
    </div>

    <app-diapo3 *ngIf="diapositive === 2"> </app-diapo3>

    <app-diapo4 *ngIf="diapositive === 3"></app-diapo4>

    <app-diapo5 *ngIf="diapositive === 4"></app-diapo5>
  </section>
</main>
