@import "../../../../../../../src/styles.scss";

:host {
  width: 100%;
  & main {
    padding: 0 24px;
    height: 85dvh;
    & section {
      width: 100%;
      /* background-color: rgba(255, 255, 255, 0.6); */
      /* box-shadow: 0 8px 24px 4px rgba(0, 0, 0, 0.10); */
      -webkit-backdrop-filter: blur(45px);
      overflow: hidden;
      /* border: 2px solid rgb(48 98 140); */
      position: relative;
      border-radius: 24px;
      transition: all 200ms;
      &:hover {
        transform: translateY(-8px);
        backdrop-filter: blur(345px);
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: 0 16px 30px 8px rgba(0, 0, 0, 0.14);
      }
      & .diapo {
        padding: 48px;
      }
      & .diapo-0 {
        z-index: 1;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        & .text {
          display: flex;
          flex-direction: column;
          & h1 {
            animation: zoomin 600ms ease-in-out;
            font-family: "Bebas Neue", sans-serif;
            font-size: 240px;
            line-height: 210px;
            text-align: center;
            background: linear-gradient(110deg, #566ec5 2.32%, #4e0984 97.46%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
          }

          & h3 {
            text-align: center;
            animation: zoomin 400ms ease-in-out;
          }
        }
        & button {
        }
      }
      & .diapo-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        & .text {
          height: 100%;
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 12px;
          h1 {
            width: 100%;
            font-size: 100px;
            line-height: 90px;
            animation: zoomin 600ms ease-in-out;
          }
          & .cards-container {
            display: flex;
            gap: 12px;
            flex-wrap: wrap;
            &:hover > :not(:hover) {
              opacity: 0.4;
            }
            & .cards {
              flex-basis: 200px;
              flex-grow: 1;
              border-radius: 16px;
              background-color: rgba(white, 0.7);
              box-shadow: 0px 6px 15px 2px rgba(0, 0, 0, 0.18);
              cursor: pointer;
              @extend %fullPadding;
              border: 2px solid rgba(85, 104, 175, 0.759);
              transition: all 200ms;
              &:hover {
                background-color: rgba(white, 1);
                border: 2px solid #566ec5;
                transform: translateY(-4px);
              }
              & p,
              h3 {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            & .cards:nth-last-child(1) {
              background: linear-gradient(
                110deg,
                #566ec5 2.32%,
                #4e0984 97.46%
              );
              & p,
              h3 {
                color: white;
              }
            }
            & .active {
              background-color: #566ec5;
              & h3,
              p {
                color: white;
              }
              &:hover {
                background-color: #23326a;
              }
            }
          }
          &__description {
            & h1 {
              background: linear-gradient(
                110deg,
                #566ec5 2.32%,
                #4e0984 97.46%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              color: transparent;
            }
          }
        }
        & .map {
          display: flex;
          width: 50%;
          justify-content: flex-end;
          height: 100%;
          transition: all 500ms ease-in-out;
          &__container {
            position: relative;
            width: 100%;
            height: 100%;
            & img {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              object-fit: contain;
              transition: all 300ms ease-in;
              transition-delay: 200ms;
            }
            & .skelet {
              z-index: 0;
            }
            & .over {
              z-index: 1;
            }
          }
          &:hover {
            transform: scale(1.4);
            & .over {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
  & h1 {
    font-family: "Bebas Neue", sans-serif;
  }
}

woz-render {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

@keyframes zoomin {
  0% {
    opacity: 0;
    transform: translateY(18px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
