<div class="background">
  <img class="front" src="assets/images/kids-min.png" alt="">
  <img class="back" src="assets/images/BackgroundChill-min.png" alt="">
  <div class="text">
    <h1 class="h1">GOALS</h1>
    <div class="text__bullets">
      <ul>
        <li><p>Quality technological education</p></li>
        <li><p>Measure and improve socioeconomic impact</p></li>
        <li><p>Establish links with the technology industry</p></li>
        <li><p>Quality technological education</p></li>
      </ul>
    </div>
  </div>
</div>
