<div class="background">
  <img class="front" src="assets/images/kids-min.png" alt="" />
  <img class="back" src="assets/images/BackgroundChill-min.png" alt="" />
  <div class="text">
    <h1 class="h1">{{ texts.goal }}</h1>
    <div class="text__bullets">
      <ul>
        <li>
          <p>{{ texts.goalEducation }}</p>
        </li>
        <li>
          <p>{{ texts.goalMeasures }}</p>
        </li>
        <li>
          <p>{{ texts.goalIndustry }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
